*{
    margin:1px;
        justify-content: center;
        align-items: center;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center; 
        min-height: 100vh;
        margin: 0;
      }
    main{
    display: flex;
    flex-direction: column;
    margin: 5%;
    border: 10px;
    border-style:double;
    max-width: 350px;
    justify-content: center;
    align-items: center; 
    
    
    
    }
    button{
        font-size: 40px;;
        font-weight: bolder;
        margin:0;
        min-width: 75px;
        border-radius: 10px;
        
    }
    .display{
        border-color: black;
        border: 2px;
        border-style: groove;
        font-size: 50px;
        min-width: 310px;
        text-align: right;
        
        
    
    
    }


    